<!doctype html 
PUBLIC "-//W3C//DTD XHTML 1.1 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>

  <head>
    <meta http-equiv="Content-Type" content="text/xhtml; charset=ISO-8859-1"/>
    <title>
      <!-- TMPL_VAR name --> mail archive - 
      <!-- TMPL_VAR author -->:
      <!-- TMPL_VAR subject -->
    </title>
    <link href='../../../macho.css' rel='stylesheet' type='text/css'/>
    <link href='../custom.css' rel='stylesheet' type='text/css'/>
    <script language='javascript'>
      <!-- TMPL_IF next -->
      var next = "<!-- TMPL_VAR next -->";
      <!-- /TMPL_IF -->
      <!-- TMPL_IF prev -->
      var prev = "<!-- TMPL_VAR prev -->";
      <!-- /TMPL_IF -->
      <!-- TMPL_IF thread-next -->
      var threadNext = "<!-- TMPL_VAR thread-next -->";
      <!-- /TMPL_IF -->
      <!-- TMPL_IF thread-prev -->
      var threadPrev = "<!-- TMPL_VAR thread-prev -->";
      <!-- /TMPL_IF -->

      function next_page(event) {
          var code = (event.charCode) ? event.charCode : event.keyCode;
          if (code == 72 && prev) {
              // pressed 'H'
              window.location = prev;
          }
          if (code == 76 && threadPrev) {
              // pressed 'l'
              window.location = next;
          }
          if (code == 75 && threadPrev) {
              // pressed 'k'
              window.location = threadPrev;
          }
          if (code == 74 && threadNext) {
              // pressed 'J'
              window.location = threadNext;
          }
      }
    </script>
  </head>

  <body onkeypress='next_page(event)'>

    <table class='page-header'>
      
      <tr>
        <td class='logo'>
          <!-- TMPL_VAR name -->
          <span class='word'>archives</span>
          <span class='date'><!-- TMPL_VAR date --></span>
        </td>
        <td class='nav'>
          <span class='control'>
            <a href='../index.html' title='home'>home</a>
          </span>
          <span class='control'>
            <a href='index.html' title='up to index'>index</a>
          </span>
          <span class='control'>
            <!-- TMPL_IF prev -->
            <a href='<!-- TMPL_VAR prev -->' title='previous message'>
              prev <span class='hot'>H</span>
            </a>
            <!-- TMPL_ELSE -->
            <span>prev H</span>
            <!-- /TMPL_IF -->
          </span>
          <span class='control'>
            <!-- TMPL_IF thread-prev -->
            <a href='<!-- TMPL_VAR thread-prev -->' title='prev in thread'>
              thread-prev <span class='hot'>K</span>
            </a>
            <!-- TMPL_ELSE -->
            <span>thread prev K</span>
            <!-- /TMPL_IF -->
          </span>
          <span class='control'>
            <!-- TMPL_IF thread-next -->
            <a href='<!-- TMPL_VAR thread-next -->' title='next in thread'>
              thread-next <span class='hot'>J</span>
            </a>
            <!-- TMPL_ELSE -->
            <span>thread next J</span>
            <!-- /TMPL_IF -->
          </span>
          <span class='control'>
            <!-- TMPL_IF next -->
            <a href='<!-- TMPL_VAR next -->' title='next message'>
              next <span class='hot'>L</span>
            </a>
            <!-- TMPL_ELSE -->
            <span>next L</span>
            <!-- /TMPL_IF -->
          </span>
        </td>
      </tr>

    </table> <!-- end page-header -->

    <table id='content'>

      <tr>
        <td class='message'>
          <div class='headers'>
            <p>From: <!-- TMPL_VAR author --></p>
            <p>Subject: <!-- TMPL_VAR subject --></p>
            <p>Date: <!-- TMPL_VAR message-date --></p>
          </div>
          <div class='body'>
            <pre><!-- TMPL_VAR body --></pre>
          </div>
         </div>
       </td>
       <td class='treeview'>
         <div class='message-list'>
           <!-- TMPL_LOOP descendents -->
           <a 
            class='<!-- TMPL_VAR class -->'
            href='<!-- TMPL_VAR href -->' 
            style='margin-left: <!-- TMPL_VAR depth -->em'>
            <span class='i'>(</span>
            <span class='shortcut' href='<!-- TMPL_VAR href -->'><!-- TMPL_VAR number --></span>
            <span class='author'><!-- TMPL_VAR author -->/</span>
            <span class='subject'><!-- TMPL_VAR subject --></span>
            <span class='date'><!-- TMPL_VAR date --></span>
            <span class='i'>)</span>
           </a>
           <!-- /TMPL_LOOP -->
         </div>
       </td>
     </tr>

    </table> <!-- end content -->

    <div id='footer'>
      <!-- TMPL_VAR name --> archives generated by 
      <div id='macho-link'>
        <a href='http://www.caddr.com/lisp/macho' id='macho-link'>macho</a>
      </div> <!-- end footer -->
    </div>

  </body>

</html>
